<head>
<!-- Include SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<!-- Include SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>


</head>
<style>
    .error-message{
        color: red;
      font-size: 14px;
      margin-top: 5px;
    }
    .decor{
        text-decoration: none;
        color:rgb(31, 167, 170);
    }
    a:hover{
        color:brown;
         text-decoration: none;
    }
    .login_part .login_part_text{
      background-image: linear-gradient(90deg, #FBD2E0 0%, #FBD2E0 64%,#FBD2E0 100%);
    }
</style>
    <section class="login_part section_padding " >
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6" >
                        <div class="login_part_text text-center" >
                            <div class="login_part_text_iner" >
                                <h2 style="color: #333333;">New to our Shop?</h2>
                                <p style="color: #333333;">Sign up now to discover the perfect blend of elegance and functionality with our curated collection of bags and watches. Elevate your fashion game with just a click!</p>
                                <a href="/signup" style="color: #333333;" class="btn_3" >Create an Account</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <h3>Welcome to Reflections ! <br>
                                    Please Sign in now</h3>
                                <form class="row contact_form" action="/login" method="post" novalidate="novalidate">
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control" id="email" name="email" value=""
                                            placeholder="Email">
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="password" class="form-control" id="password" name="password" value=""
                                            placeholder="Password">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        
                                        <button type="submit" value="submit" class="btn_3">
                                            Sign in
                                        </button>
                                        <a class="lost_pass" href="/forgotpwd">forgot password?</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
   
    {{#if Error}}
    <script>
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: '{{Error}}',
    });
  </script>
  {{/if}}

 
      